.venv/
__pycache__/
**/__pycache__/
**/**/__pycache__/

.pytest_cache/

data/cache/*
!data/cache/raw/.gitkeep


data/processed/*
!data/processed/.gitkeep

outputs/models/*
!outputs/models/.gitkeep

src/recession_classifier.egg-info/
*.pyc